services:
    ferron:
        image: ferronserver/ferron:2
        container_name: ferron
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - "ferron-acme:/var/cache/ferron-acme"
            - "./ferron.kdl:/etc/ferron.kdl"
            - "ferron-sub-configs:/etc/ferron-proxy-manager/"
        restart: always

    backend:
        image: kuncodes/ferron-proxy-manager-backend:latest
        container_name: ferron-proxy-manager-backend
        volumes:
            - ferron-data:/app/data
            - "./ferron.kdl:/etc/ferron.kdl"
            - "ferron-sub-configs:/etc/ferron-proxy-manager/"
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        environment:
            - PRODUCTION=${PRODUCTION:-true}
            - DATABASE_URL=${DATABASE_URL:-sqlite+aiosqlite:///./data/ferron.db}
            - DATABASE_ECHO=${DATABASE_ECHO:-false}
            - AUTH_SECRET_KEY=${AUTH_SECRET_KEY:?AUTH_SECRET_KEY is required in production}
            - AUTH_REFRESH_SECRET_KEY=${AUTH_REFRESH_SECRET_KEY:?AUTH_REFRESH_SECRET_KEY is required in production}
            - AUTH_SIGNUP_DISABLED=${AUTH_SIGNUP_DISABLED:-false} # change this to true to disable new signups
            - FERRON_CONTAINER_NAME=ferron # change this if you changed the container name of ferron service
        restart: always
        depends_on:
            - ferron

    frontend:
        image: kuncodes/ferron-proxy-manager-frontend:latest
        container_name: ferron-proxy-manager-frontend
        ports:
            - "3000:3000"
        environment:
            - PUBLIC_AUTH_SIGNUP_DISABLED=${PUBLIC_AUTH_SIGNUP_DISABLED:-false} # keep its value same as AUTH_SIGNUP_DISABLED in backend service
            - BACKEND_URL=${BACKEND_URL:-http://backend:8000}
        restart: always
        depends_on:
            - backend

volumes:
    ferron-acme:
    ferron-data:
    ferron-sub-configs:
