github_url = "https://github.com/kun-codes/Ferron-Proxy-Manager/"

[version]
current = "0.1.0"

# from: https://codeberg.org/your-tools/tbump/src/commit/4c5fee99a8287d3a6a88f915c121f36e78662784#setting-default-values-for-version-fields
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  (\-
    (?P<extra>.+)
  )?
  '''

[git]
message_template = "chore(version): bump version to {new_version}"
tag_template = "v{new_version}"

# from: https://codeberg.org/your-tools/tbump/src/commit/4c5fee99a8287d3a6a88f915c121f36e78662784#setting-default-values-for-version-fields
[[field]]
name = "extra"
default = ""

[[file]]
src = "backend/pyproject.toml"
search = 'version = "{current_version}"'

[[file]]
src = "backend/src/config.py"
search = 'app_version: str = "{current_version}"'

[[file]]
src = "backend/.env.example"
search = '# APP_VERSION={current_version}'

[[file]]
src = "frontend/package.json"
search = '"version": "{current_version}"'

[[before_commit]]
name = "sync uv lock file"
cmd = "cd backend && uv lock"
