services:
  # Ferron container
  ferron:
    image: ferronserver/ferron:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "ferron-acme:/var/cache/ferron-acme" # for persistent automatic TLS cache
      - "./ferron.kdl:/etc/ferron.kdl"
      - "ferron-sub-configs:/etc/ferron-proxy-manager/"
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: ferron-proxy-backend-dev
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/app/data
      - "./ferron.kdl:/etc/ferron.kdl"
      - "ferron-sub-configs:/etc/ferron-proxy-manager/"
    env_file:
      - .env
    restart: unless-stopped

volumes:
  ferron-acme:
  ferron-sub-configs:
