{# template for reverse proxying #}
{%- extends "base_virtual_host.j2" -%}

{%- block body %}

{%- if use_unix_socket and unix_socket_path is defined %}
    proxy {{ backend_url }} unix="{{ unix_socket_path }}"
{% else %}
    proxy {{ backend_url }}
{% endif -%}

{% include "_cache_template.j2" -%}
{% if preserve_host_header %}
    proxy_request_header_replace "Host" "{header:Host}"
{% endif %}
{%- endblock -%}
