{# template for serving static files #}
{%- extends "base_virtual_host.j2" -%}

{%- block body %}
    root {{ static_files_dir }}
{% if not compressed %}
    compressed #false
{% endif -%}

{% if directory_listing %}
    directory_listing
{% endif -%}

{% if in_memory_caching and cache_max_age is defined %}
    // for in memory caching to speed up websites
    cache
    file_cache_control "max-age={{ cache_max_age }}"
{% if cache and cache_max_age is defined %}
{% endif -%}

{% if precompressed %}
    precompressed
{% endif -%}

{% endblock -%}